.champ {
	BORDER-RIGHT: #336600 1px solid;
	BORDER-TOP:  #336600 1px solid;
	BORDER-LEFT: #336600 1px solid;
	BORDER-BOTTOM: #336600 1px solid;
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: tahoma, san-serif;
	BACKGROUND-COLOR: #FFFFFF;
	height: 18px;
	padding: 2px;
}

.bouton {BORDER-RIGHT: #336600 1px solid; BORDER-TOP: #336600 1px solid; FONT-SIZE: 11px; BACKGROUND: #DDFFDD; BORDER-LEFT: #336600 1px solid; CURSOR: hand; COLOR: #006600; BORDER-BOTTOM: #336600 1px solid; FONT-FAMILY: tahoma,sans-serif; HEIGHT: 19px; TEXT-DECORATION: none}

.textarea {BORDER-RIGHT: #336600 1px solid; BORDER-TOP:  #336600 1px solid; BORDER-LEFT: #336600 1px solid;  BORDER-BOTTOM: #336600 1px solid; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: tahoma,san-serif; LINE-HEIGHT: 14px;
	BACKGROUND-COLOR: #ffffff;
	SCROLLBAR-FACE-COLOR: #1FBF6F;
	SCROLLBAR-HIGHLIGHT-COLOR: #1FBF6F;
	SCROLLBAR-SHADOW-COLOR: #1FBF6F;
	SCROLLBAR-3DLIGHT-COLOR: #1FBF6F;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #E5FFE5;
	SCROLLBAR-DARKSHADOW-COLOR: #1FBF6F;
	padding: 5px;
}

.drop {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: tahoma,san-serif;
	LINE-HEIGHT: 14px;
	padding: 2px;
	background-color: #FFFFFF;
	border: inset 1px #336600;
}

.check {COLOR: #006600;}